/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
}
*{
    box-sizing: border-box;
}

header{
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
}

body{
    background-image: url(img/brd.jpg);
    background-size: cover;
    background-position:top;
    font-family: sans-serif;
    background-repeat: no-repeat;
}

.menu-bar{
    background:	#e6d9b1;
    text-align: center;
}
.menu-bar ul {
    display: inline-flex;
    color:#937c5d;
}
.menu-bar ul li{
    width: 120px;
    margin:15px;
    padding: 15px;
}
.menu-bar ul li a{
    color:#fff;
    font-size: 15px;
    text-transform: uppercase;
}
.active,.menu-bar ul li:hover{
    background: #937c5d;
    border-radius: 3px;
}
.sub-menu-1 {
    display: none;
}
.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: #e6d9b1;
    margin-top: 15px;
    margin-left: -15px;
    border-radius: 3px;

}
.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin:10px
}
.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0px;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color:#937c5d;
}
.main-section{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    z-index: 0;
    /* justify-content: center;
    align-items: center; */
}
.main-section h1{
    font-size: 85px;
    z-index: 1;
    color: white;
    text-transform: uppercase;
    position: absolute;
    margin-top: 20%;
    right: 10%;
}
.main-section p{
    font-size: 60px;
    z-index: 1;
    color: white;
    text-transform: uppercase;
    position: absolute;
    margin-top: 30%;
    right: 8%;

}
.more{
    display: block;
    position: absolute;
    z-index: 1;
    border:2px solid #fff;
    border-radius: 5px;
    margin-top: 40%;
    right: 20%;
    padding: 10px 20px;
    background-color: #e6d9b1;
}
.more a{
    font-size: 15px;
    color:#fff;
}
.more:hover{
    background-color: #937c5d;
    transition: 1s;
}
.section{
    display: flex;
    width: 100%;
}